.calc, .display, .row, .button-row {
    display: flex; 

}

.calc, .display, .button-row {
    padding: 10px; 
} 

.calc {
    background: linear-gradient(to right, #8ab4a2, #41584e);
    height: 525px; 
    width: 325px; 
    border-radius: 15px; 
    flex-direction: column;
    padding: 10px; 
}

.display, .button-row {
    background: #34463e;
    opacity: 0.75; 
    flex-direction: column;
    border-radius: 10px; 
}

.display, .row {
    flex: 1; 
}

.display {
    color: white; 
    text-align: right;
    font-size: 80px;  
    margin-bottom: 10px;  
}

.button-row, .row {
    justify-content: space-between;
}

.button-row {
    flex: 4; 
}
